Repository sonyschan/nyla-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: kb-changes-and-rag-check, version-consistency, extension-package-check, pwa-asset-check

kb-changes-and-rag-check:
  name: KB Changes Detection & RAG Status Check
  entry: hooks/detect-kb-changes.sh
  language: script
  pass_filenames: true
  always_run: false

version-consistency:
  name: Version Consistency Check
  entry: hooks/check-version-consistency.sh
  language: script
  pass_filenames: false

extension-package-check:
  name: Extension Package Validation
  entry: hooks/validate-extension-package.sh
  language: script
  pass_filenames: false

pwa-asset-check:
  name: PWA Asset Validation
  entry: hooks/validate-pwa-assets.sh
  language: script
  pass_filenames: true

📊 Rebuild RAG embeddings with all precision enhancements
  embeddings-data/chunks.json
  embeddings-data/vectors.json
  pwa/data/nyla-facts-db.json
  pwa/data/nyla-vector-db.json
Due: kb-changes-and-rag-check, pwa-asset-check

🎯 Fix Parent-Child score flattening bug - preserve score distribution
  docs/architecture/SEMANTIC-FIRST-MIGRATION.md
  pwa/js/rag/nyla-context-builder.js
  pwa/js/rag/nyla-cross-encoder.js
  pwa/js/rag/nyla-mmr-reranker.js
  pwa/js/rag/nyla-parent-child-aggregator.js
  pwa/js/rag/nyla-rag-pipeline.js
  pwa/js/rag/nyla-retriever.js
  pwa/js/rag/nyla-semantic-retriever.js
  pwa/js/rag/nyla-vector-db.js
  tests/llm/test-mmr-lambda-consistency.js
  tests/rag/rag-config.test.js
  tests/rag/test-parent-child-aggregator.js
  tests/rag/test-score-preservation-fix.js
  tests/test-meta-card-retrieval.js
Due: pwa-asset-check

🎯 Fix parent-child score extraction priority
  pwa/js/rag/nyla-parent-child-aggregator.js
  tests/rag/debug-score-flattening.js
Due: pwa-asset-check

🧪 Add comprehensive RAG pipeline test for real WangChai query
  tests/rag/test-real-wangchai-query.js
Due: none

🔍 Add comprehensive meta_card debugging across RAG pipeline
  pwa/js/nyla-hosted-llm.js
  pwa/js/rag/nyla-context-builder.js
  pwa/js/rag/nyla-rag-pipeline.js
  tests/rag/debug-meta-card-flow.js
Due: pwa-asset-check

🎯 Fix cluster representative selection to prioritize meta_card data
  pwa/js/rag/nyla-context-builder.js
Due: pwa-asset-check

🎯 Add meta_card boost to Parent-Child aggregation scoring
  pwa/js/rag/nyla-parent-child-aggregator.js
Due: pwa-asset-check

🎉 Release v2.8.0: Advanced RAG Meta Card Preservation
  CLAUDE.md
  README.md
  manifest.json
  package.json
  pwa/js/app.js
  pwa/sw.js
Due: kb-changes-and-rag-check, version-consistency, extension-package-check, pwa-asset-check

🔧 Fix PWA production to always use local LLM
  .claude/agents/architect.md
  .claude/agents/kb-curator.md
  .claude/agents/rag-expert.md
  CLAUDE.md
  LLM-REPETITION-FIX-SUMMARY.md
  pwa/js/nyla-conversation-v2.js
  pwa/js/nyla-llm-config.js
  pwa/kb/about/features.json
  pwa/kb/faq/common.json
  pwa/kb/howto/basics/send-tokens-guide.json
  pwa/kb/howto/transfers/kb-curation-summary.md
  pwa/kb/howto/transfers/quick-send-reference.json
  pwa/kb/howto/transfers/send.json
  pwa/kb/howto/transfers/unified-send-guide.json
  pwa/kb/troubleshooting/transfers.json
Due: kb-changes-and-rag-check, version-consistency, pwa-asset-check

📝 Simplify README for better user experience
  README.md
Due: version-consistency

Path conditions:
  kb-changes-and-rag-check: any of: ^(nylago-data\.js|pwa/nylago-data\.js|pwa/kb/.*\.json|pwa/data/nyla-vector-db\.json|CLAUDE\.md)$
  version-consistency: any of: ^(manifest\.json|pwa/js/app\.js|pwa/sw\.js|popup\.js|CLAUDE\.md|README\.md)$
  extension-package-check: any of: ^(manifest\.json|popup\.(html|js)|content\.js|icons/.*\.png)$
  pwa-asset-check: any of: ^pwa/.*\.(html|js|css|png|jpg|jpeg|gif|svg|mp4|json)$
