Repository sonyschan/nyla-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: detect-kb-changes, check-rag-status, version-consistency, extension-package-check, pwa-asset-check

.pre-commit-config.yaml:

# NYLA Go Pre-commit Configuration
# Automatically runs checks before each commit to ensure quality and RAG consistency

repos:
  # Basic code quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
        files: \.(json)$
      - id: check-yaml
        files: \.(ya?ml)$
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=10000']  # Allow up to 10MB (for vector DB files)

  # JavaScript/Node.js checks
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.44.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        args: [--fix]
        additional_dependencies:
          - eslint@8.44.0

  # NYLA-specific hooks
  - repo: local
    hooks:
      # Knowledge Base Change Detection
      - id: detect-kb-changes
        name: Detect Knowledge Base Changes
        entry: hooks/detect-kb-changes.sh
        language: script
        files: '^(nylago-data\.js|pwa/js/nyla-knowledge-base\.js|pwa/data/.*\.js|pwa/data/.*\.json)$'
        pass_filenames: true
        always_run: false
        
      # RAG Embedding Status Check  
      - id: check-rag-status
        name: Check RAG Embedding Status
        entry: hooks/check-rag-status.sh
        language: script
        files: '^(nylago-data\.js|pwa/js/nyla-knowledge-base\.js|pwa/data/.*\.(js|json)|CLAUDE\.md)$'
        pass_filenames: true
        always_run: false
        
      # Version Consistency Check
      - id: version-consistency
        name: Version Consistency Check
        entry: hooks/check-version-consistency.sh
        language: script
        files: '^(manifest\.json|pwa/js/app\.js|pwa/sw\.js|popup\.js|CLAUDE\.md|README\.md)$'
        pass_filenames: false
        
      # Extension Package Validation
      - id: extension-package-check
        name: Extension Package Validation
        entry: hooks/validate-extension-package.sh
        language: script
        files: '^(manifest\.json|popup\.(html|js)|content\.js|icons/.*\.png)$'
        pass_filenames: false
        
      # PWA Asset Check
      - id: pwa-asset-check
        name: PWA Asset Validation
        entry: hooks/validate-pwa-assets.sh
        language: script
        files: '^pwa/.*\.(html|js|css|png|jpg|jpeg|gif|svg|mp4|json)$'
        pass_filenames: true

🔍 Add debugging for vector DB filtering and retriever parameters
  pwa/js/rag/nyla-retriever.js
  pwa/js/rag/nyla-vector-db.js
Due: pwa-asset-check

🔧 Fix overly restrictive metadata filtering causing 0% RAG confidence
  pwa/js/rag/nyla-retriever.js
  pwa/js/rag/nyla-vector-db.js
Due: pwa-asset-check

🧠 Replace rule-based RAG logic with semantic-first retrieval
  SEMANTIC-FIRST-MIGRATION.md
  pwa/glossary/terms.json
  pwa/index.html
  pwa/js/rag/nyla-rag-pipeline.js
  pwa/js/rag/nyla-semantic-retriever.js
Due: pwa-asset-check

🔖 Update version to v2.5.0 for semantic-first RAG release
  CLAUDE.md
  manifest.json
  popup.js
  pwa/index.html
  pwa/js/app.js
  pwa/sw.js
Due: check-rag-status, version-consistency, extension-package-check, pwa-asset-check

📦 Add Chrome extension package for v2.5.0 release
  releases/nyla-go-v2.5.0-extension-only.zip
Due: none

📝 Update README version badge and download link to v2.5.0
  README.md
Due: version-consistency

📦 Align package.json version with release tag + update documentation
  CLAUDE.md
  package.json
Due: check-rag-status, version-consistency

🏪 Update README with Chrome Web Store installation method
  README.md
Due: version-consistency

🔧 Fix RAG embedding consistency between Node.js and browser environments
  embeddings-data/chunks.json
  embeddings-data/vectors.json
  pwa/data/nyla-vector-db.json
  pwa/js/rag/nyla-embedding-service.js
  pwa/kb/faq/common.json
Due: detect-kb-changes, check-rag-status, pwa-asset-check

🎯 Adjust RAG semantic similarity threshold to accept quality matches
  pwa/js/rag/nyla-rag-integration.js
Due: pwa-asset-check

🎯 Implement semantic follow-up question generation system
  pwa/index.html
  pwa/js/rag/nyla-rag-integration.js
  pwa/js/rag/nyla-semantic-followups.js
Due: pwa-asset-check

🐛 Fix async/await syntax error in semantic follow-up integration
  pwa/js/rag/nyla-rag-integration.js
Due: pwa-asset-check

🔧 Fix semantic follow-up async issue and add NYLA definition content
  embeddings-data/chunks.json
  embeddings-data/vectors.json
  pwa/data/nyla-vector-db.json
  pwa/kb/faq/common.json
Due: detect-kb-changes, check-rag-status, pwa-asset-check

🎯 Implement semantic follow-up question generation system
  .claude/settings.local.json
  extension-package/releases/nyla-go-v2.2.1-extension-only.zip
  pwa/js/nyla-assistant-v2.js
  pwa/js/nyla-conversation-v2.js
  pwa/js/nyla-llm-engine.js
  pwa/js/nyla-ui-v2.js
  pwa/js/rag/nyla-rag-pipeline.js
  pwa/js/rag/nyla-retriever.js
  scripts/test-rag-queries.js
Due: pwa-asset-check

📚 Add NYLA official resources to knowledge base
  pwa/kb/about/team.json
Due: pwa-asset-check

📈 Add comprehensive NYLA marketing and positioning content
  pwa/kb/marketing/brand.json
Due: pwa-asset-check

🔄 Update embeddings and vector database
  embeddings-data/chunks.json
  embeddings-data/vectors.json
  pwa/data/nyla-vector-db.json
Due: detect-kb-changes, check-rag-status, pwa-asset-check

🪝 Add pre-commit hook installer for KB change detection
  CLAUDE.md
  scripts/install-pre-commit-hook.sh
Due: check-rag-status, version-consistency

⚡ Streamline release process and eliminate redundancies
  .pre-commit-config.yaml
  CLAUDE.md
  hooks/detect-kb-changes.sh
  scripts/install-pre-commit-hook.sh
Due: check-rag-status, version-consistency

🔄 Rename nylago-data.js to nylago-ui-data.js for clarity
  .pre-commit-config.yaml
  CLAUDE.md
  hooks/detect-kb-changes.sh
  hooks/validate-extension-package.sh
  nylago-ui-data.js
  popup.html
  pwa/index.html
  pwa/nylago-ui-data.js
  pwa/sw.js
  scripts/check-kb-changes.js
  scripts/check-rag-status.js
  test-community-menu-i18n.html
  test-community-raids-dynamic-i18n.html
  test-community-raids-i18n.html
  test-extension-fixes.html
  test-footer-i18n-final.html
  test-semantic-followups.js
Due: check-rag-status, version-consistency, extension-package-check, pwa-asset-check
