Repository sonyschan/nyla-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: detect-kb-changes, check-rag-status, version-consistency, extension-package-check, pwa-asset-check

.pre-commit-config.yaml:

# NYLA Go Pre-commit Configuration
# Automatically runs checks before each commit to ensure quality and RAG consistency

repos:
  # Basic code quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
        files: \.(json)$
      - id: check-yaml
        files: \.(ya?ml)$
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=10000']  # Allow up to 10MB (for vector DB files)

  # JavaScript/Node.js checks
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.44.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        args: [--fix]
        additional_dependencies:
          - eslint@8.44.0

  # NYLA-specific hooks
  - repo: local
    hooks:
      # Knowledge Base Change Detection
      - id: detect-kb-changes
        name: Detect Knowledge Base Changes
        entry: hooks/detect-kb-changes.sh
        language: script
        files: '^(nylago-data\.js|pwa/js/nyla-knowledge-base\.js|pwa/data/.*\.js|pwa/data/.*\.json)$'
        pass_filenames: true
        always_run: false
        
      # RAG Embedding Status Check  
      - id: check-rag-status
        name: Check RAG Embedding Status
        entry: hooks/check-rag-status.sh
        language: script
        files: '^(nylago-data\.js|pwa/js/nyla-knowledge-base\.js|pwa/data/.*\.(js|json)|CLAUDE\.md)$'
        pass_filenames: true
        always_run: false
        
      # Version Consistency Check
      - id: version-consistency
        name: Version Consistency Check
        entry: hooks/check-version-consistency.sh
        language: script
        files: '^(manifest\.json|pwa/js/app\.js|pwa/sw\.js|popup\.js|CLAUDE\.md|README\.md)$'
        pass_filenames: false
        
      # Extension Package Validation
      - id: extension-package-check
        name: Extension Package Validation
        entry: hooks/validate-extension-package.sh
        language: script
        files: '^(manifest\.json|popup\.(html|js)|content\.js|icons/.*\.png)$'
        pass_filenames: false
        
      # PWA Asset Check
      - id: pwa-asset-check
        name: PWA Asset Validation
        entry: hooks/validate-pwa-assets.sh
        language: script
        files: '^pwa/.*\.(html|js|css|png|jpg|jpeg|gif|svg|mp4|json)$'
        pass_filenames: true

🏷️ Version bump to v2.2.1 - Advanced RAG pipeline enhancements
  CLAUDE.md
  README.md
  manifest.json
  popup.js
  pwa/index.html
  pwa/js/app.js
  pwa/sw.js
Due: check-rag-status, version-consistency, extension-package-check, pwa-asset-check

📦 Add Chrome Store package for v2.2.1
  extension-package/releases/nyla-go-v2.2.1-extension-only.zip
Due: none

📦 Add Chrome Store package for v2.2.2
  releases/nyla-go-v2.2.2-extension-only.zip
Due: none

🔧 System improvements and UI enhancements
  pwa/css/nyla-assistant.css
  pwa/index.html
  pwa/js/nyla-knowledge-base.js
  pwa/js/nyla-llm-engine.js
  pwa/js/nyla-ui-v2.js
  pwa/js/rag/nyla-context-builder.js
  pwa/js/rag/nyla-embedding-service.js
  pwa/js/rag/nyla-rag-pipeline.js
  pwa/js/rag/nyla-retriever.js
Due: detect-kb-changes, check-rag-status, pwa-asset-check

🏷️ Version bump to v2.2.3 - UI enhancements and system stability
  CLAUDE.md
  README.md
  manifest.json
  popup.js
  pwa/index.html
  pwa/js/app.js
  pwa/sw.js
Due: check-rag-status, version-consistency, extension-package-check, pwa-asset-check

📦 Add Chrome Store package for v2.2.3
  releases/nyla-go-v2.2.3-extension-only.zip
Due: none

🌐 Version 2.3.0 - Complete Internationalization System
  CLAUDE.md
  I18N-IMPLEMENTATION.md
  README.md
  extension-i18n.js
  manifest.json
  nylago-data.js
  popup.html
  popup.js
  pwa/css/i18n.css
  pwa/index.html
  pwa/js/app.js
  pwa/js/nyla-i18n.js
  pwa/js/nyla-ui-translator.js
  pwa/sw.js
Due: detect-kb-changes, check-rag-status, version-consistency, extension-package-check, pwa-asset-check

📦 Add Chrome Store package for v2.3.0 - Complete Internationalization
  releases/nyla-go-v2.3.0-extension-only.zip
Due: none

🔧 Fix manifest description length for Chrome Store submission
  manifest.json
  releases/nyla-go-v2.3.0-extension-only.zip
Due: version-consistency, extension-package-check

🌐 Version bump to v2.4.0 - Complete internationalization system
  CLAUDE.md
  README.md
  extension-i18n.js
  manifest.json
  nylago-data.js
  popup.html
  popup.js
  pwa/index.html
  pwa/js/app.js
  pwa/sw.js
Due: detect-kb-changes, check-rag-status, version-consistency, extension-package-check, pwa-asset-check

📦 Release v2.4.0 - Chrome Store package and security docs
  SECURITY.md
  releases/nyla-go-v2.4.0-extension-only.zip
Due: none

📋 Update privacy policies for v2.4.0 internationalization features
  privacy-policy.html
  privacy_policy.md
Due: none

✨ Remove nyla-stats from UI and enable unrestricted free talk
  pwa/css/nyla-assistant.css
  pwa/js/nyla-ui-v2.js
Due: pwa-asset-check

🌐 Complete i18n consolidation - eliminate 60+ duplicate keys
  I18N-CONSOLIDATION-ANALYSIS.md
  extension-i18n-consolidated.js
  nylago-data.js
  popup.html
  popup.js
Due: detect-kb-changes, check-rag-status, version-consistency, extension-package-check

✨ Implement Floating Action Button (FAB) + optimize spacing
  popup.html
  popup.js
Due: version-consistency, extension-package-check

🚀 Major LLM & KB Enhancement - Comprehensive Knowledge Base Restructure
  .githooks/pre-commit-wording
  pwa/css/nyla-assistant.css
  pwa/js/nyla-conversation-v2.js
  pwa/js/nyla-ui-v2.js
  pwa/js/rag/nyla-context-builder.js
  pwa/js/rag/nyla-kb-content-creator.js
  pwa/js/rag/nyla-retriever.js
  pwa/kb/README-LLM-ENHANCEMENTS.md
  pwa/kb/README.md
  pwa/kb/about/team.json
  pwa/kb/ecosystem/README.md
  pwa/kb/ecosystem/campaigns/algorand/2025-07-nyla-x-algorand-launch.json
  pwa/kb/ecosystem/integrations/algorand/core-support.json
  pwa/kb/ecosystem/integrations/algorand/pera-wallet.json
  pwa/kb/ecosystem/integrations/ethereum/uniswap-v3.json
  pwa/kb/ecosystem/integrations/solana/jupiter-routing.json
  pwa/kb/ecosystem/partners/algorand/algorand-foundation.json
  pwa/kb/ecosystem/partners/solana/solana-foundation.json
  pwa/kb/facts/contracts.algorand.json
  pwa/kb/facts/contracts.ethereum.json
  pwa/kb/facts/contracts.solana.json
  pwa/kb/facts/network-limitations.json
  pwa/kb/facts/supported-networks.algorand.json
  pwa/kb/facts/supported-networks.ethereum.json
  pwa/kb/facts/supported-networks.solana.json
  pwa/kb/faq/common.json
  pwa/kb/glossary/terms.json
  pwa/kb/howto/qr/create.json
  pwa/kb/howto/qr/troubleshoot.json
  pwa/kb/howto/raids/participate.json
  pwa/kb/howto/transfers/receive.json
  pwa/kb/howto/transfers/send.json
  pwa/kb/marketing/brand.json
  pwa/kb/policy/answer_templates.json
  pwa/kb/policy/wording.json
  pwa/kb/schema.json
  pwa/kb/troubleshooting/transfers.json
  scripts/validate-and-fix-summaries.js
Due: pwa-asset-check

🌐 Fix PWA language dropdown - remove i18n (Extension-only)
  pwa/index.html
  pwa/js/app.js
Due: version-consistency, pwa-asset-check

🔧 Unify createSystemPrompt() - remove separate greeting version
  pwa/js/nyla-llm-engine.js
  pwa/js/nyla-ui-v2.js
Due: pwa-asset-check
