Repository sonyschan/nyla-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: detect-kb-changes, check-rag-status, version-consistency, extension-package-check, pwa-asset-check

.pre-commit-config.yaml:

# NYLA Go Pre-commit Configuration
# Automatically runs checks before each commit to ensure quality and RAG consistency

repos:
  # Basic code quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
        files: \.(json)$
      - id: check-yaml
        files: \.(ya?ml)$
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=10000']  # Allow up to 10MB (for vector DB files)

  # JavaScript/Node.js checks
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.44.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        args: [--fix]
        additional_dependencies:
          - eslint@8.44.0

  # NYLA-specific hooks
  - repo: local
    hooks:
      # Knowledge Base Change Detection
      - id: detect-kb-changes
        name: Detect Knowledge Base Changes
        entry: hooks/detect-kb-changes.sh
        language: script
        files: '^(nylago-data\.js|pwa/js/nyla-knowledge-base\.js|pwa/data/.*\.js|pwa/data/.*\.json)$'
        pass_filenames: true
        always_run: false
        
      # RAG Embedding Status Check  
      - id: check-rag-status
        name: Check RAG Embedding Status
        entry: hooks/check-rag-status.sh
        language: script
        files: '^(nylago-data\.js|pwa/js/nyla-knowledge-base\.js|pwa/data/.*\.(js|json)|CLAUDE\.md)$'
        pass_filenames: true
        always_run: false
        
      # Version Consistency Check
      - id: version-consistency
        name: Version Consistency Check
        entry: hooks/check-version-consistency.sh
        language: script
        files: '^(manifest\.json|pwa/js/app\.js|pwa/sw\.js|popup\.js|CLAUDE\.md|README\.md)$'
        pass_filenames: false
        
      # Extension Package Validation
      - id: extension-package-check
        name: Extension Package Validation
        entry: hooks/validate-extension-package.sh
        language: script
        files: '^(manifest\.json|popup\.(html|js)|content\.js|icons/.*\.png)$'
        pass_filenames: false
        
      # PWA Asset Check
      - id: pwa-asset-check
        name: PWA Asset Validation
        entry: hooks/validate-pwa-assets.sh
        language: script
        files: '^pwa/.*\.(html|js|css|png|jpg|jpeg|gif|svg|mp4|json)$'
        pass_filenames: true

🧹 Remove legacy prompt building method from LLM engine
  pwa/js/nyla-llm-engine.js
Due: pwa-asset-check

🔧 Fix LLM condition check preventing responses from reaching UI
  pwa/js/nyla-conversation-v2.js
Due: pwa-asset-check

⚡ Add race condition handling for LLM warmup timing issue
  pwa/js/nyla-conversation-v2.js
Due: pwa-asset-check

📚 Document NYLA LLM architecture and data flow in Claude.md
  CLAUDE.md
Due: check-rag-status, version-consistency

🔧 Fix LLM response normalization to handle string answer format
  package.json
  pwa/js/nyla-ui-v2.js
Due: pwa-asset-check

🚀 Release v2.4.1 - Fix LLM response display issue
  CLAUDE.md
  manifest.json
  popup.js
  pwa/js/app.js
  pwa/sw.js
Due: check-rag-status, version-consistency, extension-package-check, pwa-asset-check

🔧 Update KB and add debugging for follow-up questions issue
  embeddings-data/chunks.json
  embeddings-data/vectors.json
  pwa/data/nyla-vector-db.json
  pwa/js/nyla-conversation-v2.js
  pwa/js/nyla-ui-v2.js
  pwa/kb/about/overview.json
Due: detect-kb-changes, check-rag-status, pwa-asset-check

🔧 Fix missing follow-up questions in RAG responses
  pwa/js/rag/nyla-rag-integration.js
Due: pwa-asset-check

📝 Update KB: NYLA as web3 service for blockchain transactions
  embeddings-data/chunks.json
  embeddings-data/vectors.json
  pwa/data/nyla-vector-db.json
  pwa/js/nyla-llm-engine.js
  pwa/kb/about/overview.json
Due: detect-kb-changes, check-rag-status, pwa-asset-check

📝 Clarify KB terminology for accuracy
  embeddings-data/chunks.json
  embeddings-data/vectors.json
  pwa/data/nyla-vector-db.json
  pwa/kb/about/overview.json
Due: detect-kb-changes, check-rag-status, pwa-asset-check

🔧 Fix duplicate responses and NYLA/NYLAGo identity confusion
  embeddings-data/chunks.json
  embeddings-data/vectors.json
  pwa/data/nyla-vector-db.json
  pwa/js/nyla-llm-engine.js
  pwa/kb/about/overview.json
  pwa/kb/policy/wording.json
Due: detect-kb-changes, check-rag-status, pwa-asset-check

🔍 Remove band-aid fix and add root cause debugging
  pwa/js/nyla-llm-engine.js
  pwa/js/rag/nyla-context-builder.js
Due: pwa-asset-check

🔧 Fix LLM leaking internal policy rules into user responses
  embeddings-data/chunks.json
  embeddings-data/vectors.json
  pwa/data/nyla-vector-db.json
  pwa/js/rag/nyla-context-builder.js
  pwa/kb/policy/wording.json
Due: detect-kb-changes, check-rag-status, pwa-asset-check

🔧 Fix isLLMGenerated field and add follow-up debugging
  pwa/js/nyla-conversation-v2.js
  pwa/js/nyla-ui-v2.js
Due: pwa-asset-check

🔍 Add detailed debugging for isLLMGenerated field tracking
  pwa/js/nyla-conversation-v2.js
Due: pwa-asset-check

🎯 Fix RAG semantic matching and cross-chain misinformation
  pwa/data/nyla-vector-db.json
  pwa/js/rag/nyla-environment.js
  pwa/js/rag/nyla-retriever.js
  pwa/kb/facts/network-limitations.json
  pwa/kb/faq/common.json
  pwa/kb/howto/basics/send-tokens-guide.json
  pwa/kb/policy/answer_templates.json
  scripts/test-cross-chain-query.js
  scripts/test-rag-queries.js
Due: detect-kb-changes, check-rag-status, pwa-asset-check

🔍 Add RAG debugging and cache clearing tools for confidence investigation
  pwa/js/rag/nyla-rag-integration.js
  pwa/js/rag/nyla-retriever.js
  pwa/test-clear-rag-cache.html
  pwa/test-rag-embedding-load.html
Due: pwa-asset-check

🔍 Add comprehensive RAG debugging to trace chunksFound: 0 issue
  pwa/js/rag/nyla-embedding-service.js
  pwa/js/rag/nyla-rag-integration.js
  pwa/js/rag/nyla-vector-db.js
Due: pwa-asset-check

🔍 Add SimpleVectorIndex debugging for empty search results
  pwa/js/rag/nyla-vector-db.js
Due: pwa-asset-check

🔍 Add debugging for chunk ID mismatch in vector search results
  pwa/js/rag/nyla-vector-db.js
Due: pwa-asset-check
