Repository sonyschan/nyla-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: kb-changes-and-rag-check, version-consistency, extension-package-check, pwa-asset-check

kb-changes-and-rag-check:
  name: KB Changes Detection & RAG Status Check
  entry: hooks/detect-kb-changes.sh
  language: script
  pass_filenames: true
  always_run: false

version-consistency:
  name: Version Consistency Check
  entry: hooks/check-version-consistency.sh
  language: script
  pass_filenames: false

extension-package-check:
  name: Extension Package Validation
  entry: hooks/validate-extension-package.sh
  language: script
  pass_filenames: false

pwa-asset-check:
  name: PWA Asset Validation
  entry: hooks/validate-pwa-assets.sh
  language: script
  pass_filenames: true

✨ Implement beautiful URL buttons for LLM responses
  .claude/settings.local.json
  LLM-REPETITION-FIX-SUMMARY.md
  popup.html
  pwa/css/nyla-assistant.css
  pwa/js/nyla-assistant-v2.js
  pwa/js/nyla-ui-v2.js
  test-chinese-llm-queries.js
  test-repetition-fixes.js
  test-url-buttons.html
Due: extension-package-check, pwa-asset-check

🌐 Ensure multilingual-e5-base (768-dim) consistency across application
  .claude/agents/kb-curator.md
  CLAUDE.md
  docs/architecture/NYLA-AI-ARCHITECTURE-FLOW.md
  embeddings-data/chunks.json
  embeddings-data/vectors.json
  pwa/css/nyla-assistant.css
  pwa/data/nyla-vector-db.json
  pwa/js/nyla-llm-engine.js
  pwa/js/nyla-ui-v2.js
  pwa/js/rag/KB-VERSION-MANAGEMENT.md
  pwa/js/rag/PRODUCTION-SYNC.md
  pwa/js/rag/RAG-ARCHITECTURE.md
  pwa/js/rag/README.md
  pwa/js/rag/build-embeddings-nodejs.js
  pwa/js/rag/build-embeddings.js
  pwa/js/rag/nyla-embedding-service.js
  pwa/js/rag/nyla-environment.js
  pwa/js/rag/nyla-hybrid-retriever.js
  pwa/js/rag/nyla-kb-version-manager.js
  pwa/js/rag/nyla-multilingual-ingest.js
  pwa/js/rag/nyla-vector-db.js
  pwa/js/rag/production-sync-demo.js
  pwa/nyla-knowledge-index.json
  scripts/deploy-vector-db.js
Due: kb-changes-and-rag-check, version-consistency, pwa-asset-check

🌐 Implement comprehensive proper noun & aliases handling system
  .claude/agents/kb-curator.md
  example-kb-curator-with-aliases.md
  pwa/index.html
  pwa/js/rag/nyla-hybrid-retriever.js
  pwa/js/rag/nyla-proper-noun-glossary.js
  pwa/js/rag/nyla-query-expander.js
  test-proper-noun-expansion.js
  test-proper-noun-simple.js
  test-rag-integration.js
Due: pwa-asset-check

🔧 Fix context builder debug logging to use correct chunk structure
  pwa/js/rag/nyla-context-builder.js
Due: pwa-asset-check

✨ Enhance LLM response length and community link inclusion
  pwa/js/nyla-llm-engine.js
Due: pwa-asset-check

🎯 Raise RAG confidence thresholds with improved multilingual embeddings
  pwa/js/rag/nyla-rag-integration.js
Due: pwa-asset-check

🚀 Release v2.6.0 - Cross-lingual RAG Enhancement
  CLAUDE.md
  README.md
  manifest.json
  package.json
  pwa/js/app.js
  pwa/sw.js
Due: kb-changes-and-rag-check, version-consistency, extension-package-check, pwa-asset-check

📦 Create v2.6.0 Chrome Store package and improve .gitignore
  .gitignore
  releases/nyla-go-v2.6.0-extension-only.zip
Due: none

✨ Implement confidence-based LLM proxy with session caching
  .claude/settings.local.json
  nylago-llm-proxy/.dockerignore
  nylago-llm-proxy/.gitignore
  nylago-llm-proxy/Dockerfile
  nylago-llm-proxy/README.md
  nylago-llm-proxy/SECURITY.md
  nylago-llm-proxy/package-lock.json
  nylago-llm-proxy/package.json
  nylago-llm-proxy/src/config.ts
  nylago-llm-proxy/src/index.ts
  nylago-llm-proxy/src/lib/followups.ts
  nylago-llm-proxy/src/lib/llm.ts
  nylago-llm-proxy/src/lib/logger.ts
  nylago-llm-proxy/src/lib/lru-cache.ts
  nylago-llm-proxy/src/lib/prompt.ts
  nylago-llm-proxy/src/lib/validators.ts
  nylago-llm-proxy/src/routes/infer.ts
  nylago-llm-proxy/src/server.ts
  nylago-llm-proxy/test-local.sh
  nylago-llm-proxy/test/e2e/inference.test.ts
  nylago-llm-proxy/tsconfig.json
Due: none

🧹 Clean up unused feature flags, keep only PROMPT_V2_ENABLED
  CLAUDE.md
  demo-url-feature-flags.md
  pwa/js/nyla-feature-flags.js
  pwa/js/nyla-llm-engine.js
  scripts/test-url-feature-flags.js
  tests/test-feature-flags-url.html
Due: kb-changes-and-rag-check, version-consistency, pwa-asset-check

📋 Streamline git release process: separate from Chrome Store packaging
  CLAUDE.md
Due: kb-changes-and-rag-check, version-consistency

🎯 Simplify development: PWA calls Cloud Run directly, not local proxy
  .claude/settings.local.json
  popup.html
  pwa/index.html
  pwa/js/nyla-conversation-v2.js
  pwa/js/nyla-hosted-llm.js
  pwa/js/nyla-llm-config.js
  test-hosted-llm-setup.md
Due: extension-package-check, pwa-asset-check

🚀 Fix TypeScript build and deploy LLM proxy to Cloud Run
  nylago-llm-proxy/Dockerfile
  nylago-llm-proxy/package.json
  nylago-llm-proxy/src/lib/followups.ts
  nylago-llm-proxy/src/routes/infer.ts
  nylago-llm-proxy/src/server.ts
  nylago-llm-proxy/tsconfig.json
Due: none

🛠️ Fix unnecessary WebLLM initialization + improve PWA stability
  CLAUDE.md
  pwa/js/app.js
  pwa/js/nyla-assistant-v2.js
  pwa/js/nyla-conversation-v2.js
  pwa/js/nyla-system-controller.js
  pwa/js/nyla-ui-v2.js
Due: kb-changes-and-rag-check, version-consistency, pwa-asset-check

🎯 Complete environment-based LLM provider system + conversation manager fixes
  .claude/agents/llm-expert.md
  pwa/index.html
  pwa/js/app.js
  pwa/js/nyla-llm-config.js
  pwa/js/nyla-system-controller.js
  pwa/js/nyla-ui-v2.js
Due: version-consistency, pwa-asset-check

🔧 Fix RAG pipeline integration with hosted LLM provider
  pwa/js/nyla-conversation-v2.js
  pwa/js/rag/nyla-rag-integration.js
  pwa/js/rag/nyla-rag-pipeline.js
Due: pwa-asset-check

🔧 Fix hosted LLM context format to match API requirements
  pwa/js/rag/nyla-rag-pipeline.js
Due: pwa-asset-check

🔧 Fix hosted LLM context format - use string array instead of object array
  pwa/js/rag/nyla-rag-pipeline.js
Due: pwa-asset-check

🔧 Fix link buttons to prevent href navigation when using JavaScript
  pwa/js/nyla-ui-v2.js
  test-url-buttons.html
Due: pwa-asset-check

🎯 Improve general RAG social media detection patterns
  pwa/js/rag/nyla-retriever.js
  test-rag-social-retrieval.js
Due: pwa-asset-check

🎯 Fix Chinese founder query retrieval with team intent boosting
  pwa/js/rag/nyla-retriever.js
  test-founder-query.js
  test-semantic-similarity.js
Due: pwa-asset-check

🚀 Implement complete RAG pipeline with topK alignment and score-driven strategy
  pwa/index.html
  pwa/js/rag/nyla-cross-encoder.js
  pwa/js/rag/nyla-parent-child-aggregator.js
  pwa/js/rag/nyla-rag-pipeline.js
  pwa/js/rag/nyla-semantic-retriever.js
Due: pwa-asset-check

📝 Add comprehensive UserPrompt logging for hosted LLM
  pwa/js/nyla-hosted-llm.js
Due: pwa-asset-check

🔍 Enhance hosted LLM logging to debug RAG context issue
  pwa/js/nyla-hosted-llm.js
Due: pwa-asset-check

🔍 Add comprehensive RAG→LLM debugging logs
  pwa/js/rag/nyla-rag-pipeline.js
Due: pwa-asset-check

🌐 Implement language control for single-language LLM responses
  nylago-llm-proxy/src/lib/prompt.ts
  pwa/js/nyla-hosted-llm.js
Due: pwa-asset-check

🌐 Integrate shared language settings between Extension and PWA
  popup.html
  pwa/index.html
  pwa/js/nyla-hosted-llm.js
  pwa/js/nyla-shared-settings.js
Due: extension-package-check, pwa-asset-check

🖼️ Fix missing extension images by updating paths to design folder
  GO-BACKGROUND.png
  NYLAGO-Logo-v2.png
  popup.html
Due: extension-package-check

🔧 Fix PWA detection for local development & add architect agent
  .claude/agents/architect.md
  pwa/js/nyla-device-utils.js
  pwa/js/nyla-llm-config.js
  pwa/test-pwa-detection.html
Due: pwa-asset-check

🚀 Deploy LLM proxy to Cloud Run Asia Southeast with CORS support
  .claude/agents/architect.md
  CLAUDE.md
  nylago-llm-proxy/package.json
  nylago-llm-proxy/src/server.ts
  pwa/js/nyla-llm-config.js
Due: kb-changes-and-rag-check, version-consistency, pwa-asset-check

🔧 Fix hosted LLM async errors and JSON format requirements
  nylago-llm-proxy/src/lib/prompt.ts
  pwa/js/nyla-assistant-v2.js
  pwa/js/rag/nyla-rag-integration.js
Due: pwa-asset-check

🔧 Fix cross-encoder transformers.js input format causing TypeError
  pwa/js/rag/nyla-cross-encoder.js
Due: pwa-asset-check

📦 Release v2.7.0 - Cross-encoder fixes and LLM improvements
  .claude/agents/architect.md
  CLAUDE.md
  README.md
  manifest.json
  package.json
  pwa/js/app.js
  pwa/sw.js
Due: kb-changes-and-rag-check, version-consistency, extension-package-check, pwa-asset-check

📚 Add contract address translations to glossary terms
  pwa/glossary/terms.json
  pwa/kb/glossary/terms.json
Due: kb-changes-and-rag-check, pwa-asset-check

🔄 Rebuild RAG embeddings with contract address terms
  pwa/data/nyla-vector-db.json
Due: kb-changes-and-rag-check, pwa-asset-check

🔧 Fix transformers.js loading race condition in cross-encoder
  .claude/agents/kb-curator.md
  embeddings-data/chunks.json
  embeddings-data/vectors.json
  pwa/data/nyla-facts-db.json
  pwa/data/nyla-vector-db.json
  pwa/index.html
  pwa/js/rag/build-embeddings-nodejs.js
  pwa/js/rag/nyla-bm25-index.js
  pwa/js/rag/nyla-cross-encoder.js
  pwa/js/rag/nyla-environment.js
  pwa/js/rag/nyla-knowledge-chunker.js.deprecated
  pwa/js/rag/nyla-language-consistency.js
  pwa/js/rag/nyla-multilingual-ingest.js.deprecated
  pwa/js/rag/nyla-semantic-retriever.js
  pwa/js/rag/nyla-vector-db.js
  pwa/nylago-service.yaml
  tests/llm/test-llm-decision-logic.js
Due: kb-changes-and-rag-check, pwa-asset-check

🎯 Optimize RAG BM25/Dense weighting and enhance ticker detection
  .claude/agents/rag-expert.md
  embeddings-data/chunks.json
  embeddings-data/vectors.json
  pwa/data/nyla-facts-db.json
  pwa/data/nyla-vector-db.json
  pwa/js/rag/build-embeddings-nodejs.js
  pwa/js/rag/nyla-bm25-index.js
  pwa/js/rag/nyla-rag-pipeline.js
  pwa/js/rag/nyla-semantic-retriever.js
  tests/rag/TICKER_DETECTION_TEST_REPORT.md
  tests/rag/bm25-dense-weighting-report.md
  tests/rag/test-bm25-dense-weighting.js
  tests/rag/test-semantic-retriever-validation.js
  tests/rag/test-ticker-detection.js
  tests/rag/test-ticker-improvement-comparison.js
  tests/rag/validate-weighting-changes.js
Due: kb-changes-and-rag-check, pwa-asset-check

🔧 Fix BM25 index never being built from loadFromData()
  chunk-117-analysis-report.md
  pwa/js/rag/nyla-bm25-index.js
  pwa/js/rag/nyla-semantic-retriever.js
  pwa/js/rag/nyla-vector-db.js
  tests/rag/chunk-117-analysis.js
  tests/rag/chunk-117-fix-test.js
  tests/rag/test-bm25-fix.js
Due: pwa-asset-check

🎯 Fix BM25 tokenization precision with comprehensive noise filtering
  pwa/js/rag/nyla-bm25-index.js
  tests/rag/analyze-tokenization-issue.js
  tests/rag/final-precision-validation.js
  tests/rag/final-tokenization-test.js
  tests/rag/test-improved-tokenization.js
  tests/rag/test-precision-tokenization-fix.js
Due: pwa-asset-check

Path conditions:
  kb-changes-and-rag-check: any of: ^(nylago-data\.js|pwa/nylago-data\.js|pwa/kb/.*\.json|pwa/data/nyla-vector-db\.json|CLAUDE\.md)$
  version-consistency: any of: ^(manifest\.json|pwa/js/app\.js|pwa/sw\.js|popup\.js|CLAUDE\.md|README\.md)$
  extension-package-check: any of: ^(manifest\.json|popup\.(html|js)|content\.js|icons/.*\.png)$
  pwa-asset-check: any of: ^pwa/.*\.(html|js|css|png|jpg|jpeg|gif|svg|mp4|json)$
