Repository sonyschan/nyla-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: kb-changes-and-rag-check, version-consistency, extension-package-check, pwa-asset-check

kb-changes-and-rag-check:
  name: KB Changes Detection & RAG Status Check
  entry: hooks/detect-kb-changes.sh
  language: script
  pass_filenames: true
  always_run: false

version-consistency:
  name: Version Consistency Check
  entry: hooks/check-version-consistency.sh
  language: script
  pass_filenames: false

extension-package-check:
  name: Extension Package Validation
  entry: hooks/validate-extension-package.sh
  language: script
  pass_filenames: false

pwa-asset-check:
  name: PWA Asset Validation
  entry: hooks/validate-pwa-assets.sh
  language: script
  pass_filenames: true

🧹 Ensure UI data files are never treated as knowledge base
  pwa/js/rag/KB-VERSION-MANAGEMENT.md
  scripts/check-rag-status.js
  scripts/install-pre-commit-hook.sh
Due: none

🧹 Major RAG/LLM code cleanup - Phase 1
  popup.html
  pwa/index.html
  pwa/js/nyla-conversation-v2.js
  pwa/js/nyla-device-utils.js
  pwa/js/nyla-llm-engine.js
Due: extension-package-check, pwa-asset-check

🧹 Phase 1: Centralize device detection and simplify LLM state logic
  pwa/index.html
  pwa/js/nyla-conversation-v2.js
  pwa/js/nyla-llm-state-manager.js
Due: pwa-asset-check

🚀 Phase 2: Optimize memory-inefficient operations
  pwa/js/nyla-conversation-v2.js
  pwa/js/rag/nyla-clustering-service.js
  pwa/js/rag/nyla-context-builder.js
  pwa/js/rag/nyla-hybrid-retriever.js
  pwa/js/rag/nyla-rag-pipeline.js
  pwa/js/rag/nyla-semantic-retriever.js
Due: pwa-asset-check

🧹 Clean up test files and organize test directory structure
  test-all-extension-i18n-fixes.html
  test-community-apps-i18n.html
  test-community-i18n-comprehensive.html
  test-community-menu-i18n.html
  test-community-raids-dynamic-i18n.html
  test-community-raids-i18n.html
  test-consolidated-i18n-final.html
  test-extension-all-tabs.html
  test-extension-fixes-simple.html
  test-extension-fixes.html
  test-extension-i18n-fix.html
  test-extension-i18n-working.html
  test-footer-i18n-final.html
  test-i18next-migration.html
  test-individual-items-i18n.html
  test-missing-i18n-fix.html
  test-receive-tab-i18n.html
  test-settings-tab-switching-fix.html
  test-swap-tab-i18n.html
  test-tab-i18n.html
  tests/i18n/consolidation.test.html
  tests/integration/test-ecosystem-routing.js
  tests/integration/test-granular-routing.js
  tests/integration/test-integration-routing.js
  tests/manual/fab-extension.test.html
  tests/manual/gestures.test.html
  tests/rag/rag-config.test.js
  tests/rag/semantic-followups.test.js
Due: none

📚 Add kb-curator sub-agent specification
  kb-curator.md
Due: none

📝 Update documentation after test file migration
  SEMANTIC-FIRST-MIGRATION.md
  TESTING-GUIDE.md
Due: none

🗂️ Organize kb-curator agent specification
  .claude/agents/kb-curator.md
  .claude/settings.local.json
  popup.html
Due: extension-package-check

📚 Organize documentation into structured folders
  CLAUDE.md
  docs/architecture/EMBEDDING-BUILD-SYSTEM.md
  docs/architecture/NYLA-AI-ARCHITECTURE-FLOW.md
  docs/architecture/SEMANTIC-FIRST-MIGRATION.md
  docs/chrome-store/ACTIVETAB_USAGE_JUSTIFICATION.md
  docs/chrome-store/CHROME_STORE_DESCRIPTION.md
  docs/chrome-store/CHROME_STORE_DESCRIPTION_OPTIMIZED.md
  docs/chrome-store/CHROME_STORE_RESPONSE.md
  docs/chrome-store/CHROME_STORE_RESPONSE_CONCISE.md
  docs/chrome-store/store_listing_template.md
  docs/i18n/EXTENSION-I18N-FIX-SUMMARY.md
  docs/i18n/I18N-CONSOLIDATION-ANALYSIS.md
  docs/i18n/I18N-IMPLEMENTATION.md
  docs/i18n/I18NEXT-MIGRATION-SUMMARY.md
  docs/testing/FUNCTIONAL-TESTS.md
  docs/testing/PERFORMANCE-COMPARISON.md
Due: kb-changes-and-rag-check, version-consistency

🔒 Update compliance documentation for v2.5.0 Chrome Store submission
  SECURITY.md
  privacy-policy.html
  privacy_policy.md
  pwa/privacy-policy.html
Due: pwa-asset-check

🔒 Update SECURITY.md with v2.5.0 VirusTotal verification
  SECURITY.md
Due: none

kb: add WangChai (旺柴) ecosystem partnership content [auto-reindex]
  pwa/data/nyla-vector-db.json
  pwa/js/rag/nyla-environment.js
  pwa/kb/ecosystem/partners/multi-chain/wangchai.json
Due: kb-changes-and-rag-check, pwa-asset-check

kb: add WangChai technical specs and official links [auto-reindex]
  pwa/data/nyla-vector-db.json
  pwa/kb/ecosystem/partners/multi-chain/wangchai.json
Due: kb-changes-and-rag-check, pwa-asset-check

📚 Add comprehensive WangChai (旺柴) partnership knowledge to RAG system
  embeddings-data/chunks.json
  embeddings-data/vectors.json
Due: none

🐛 Fix duplicate NYLALogger declaration causing syntax error
  pwa/js/rag/nyla-environment.js
Due: pwa-asset-check

🐛 Fix LLM engine device detection: isAndroid is not defined
  pwa/js/nyla-llm-engine.js
Due: pwa-asset-check

🔧 Update knowledge tracker to use NYLALogger for consistency
  pwa/js/nyla-knowledge-tracker.js
Due: pwa-asset-check

🐛 Fix RAG pipeline cache error: expired is not defined
  pwa/js/rag/nyla-rag-pipeline.js
Due: pwa-asset-check

🎯 Improve WangChai RAG query performance and fix parsing issues
  .claude/agents/kb-curator.md
  embeddings-data/chunks.json
  embeddings-data/vectors.json
  pwa/data/nyla-vector-db.json
  pwa/js/rag/build-embeddings-nodejs.js
  pwa/js/rag/nyla-environment.js
  pwa/js/rag/nyla-rag-integration.js
  pwa/kb/ecosystem/partners/multi-chain/wangchai.json
Due: kb-changes-and-rag-check, pwa-asset-check

🔗 Enable URL output in LLM responses for community links
  .claude/agents/llm-expert.md
  pwa/js/nyla-llm-engine.js
  scripts/test-url-output.js
Due: pwa-asset-check

🎛️ Implement URL query parameter feature flag system
  .claude/agents/fe.md
  CLAUDE.md
  demo-url-feature-flags.md
  popup.html
  prompt-optimization-report.json
  pwa/index.html
  pwa/js/nyla-feature-flags.js
  pwa/js/nyla-llm-engine.js
  scripts/test-url-feature-flags.js
  scripts/verify-prompt-v2.js
  scripts/verify-test-files.js
  tests/test-feature-flags-url.html
  tests/test-prompt-optimization.js
  tests/test-prompt-v2-browser.html
  tests/test-prompt-v2-simple.html
Due: kb-changes-and-rag-check, version-consistency, extension-package-check, pwa-asset-check

🐛 Fix NYLALogger dependency issue in feature flag system
  pwa/js/nyla-feature-flags.js
Due: pwa-asset-check

♻️ Better fix: Defer feature flag init until NYLALogger available
  pwa/js/nyla-feature-flags.js
Due: pwa-asset-check

🐛 Fix initialization order and NYLALogger.log() calls
  pwa/js/nyla-feature-flags.js
  pwa/js/nyla-llm-engine.js
Due: pwa-asset-check

🔧 Rebuild vector database to fix WangChai RAG retrieval
  embeddings-data/chunks.json
  embeddings-data/vectors.json
  pwa/data/nyla-vector-db.json
Due: kb-changes-and-rag-check, pwa-asset-check

🔧 Fix LLM repetitive text generation with comprehensive detection
  pwa/js/nyla-llm-engine.js
Due: pwa-asset-check

⚡ Replace band-aid fix with proper LLM repetition prevention
  pwa/js/nyla-llm-engine.js
Due: pwa-asset-check

Path conditions:
  kb-changes-and-rag-check: any of: ^(nylago-data\.js|pwa/nylago-data\.js|pwa/kb/.*\.json|pwa/data/nyla-vector-db\.json|CLAUDE\.md)$
  version-consistency: any of: ^(manifest\.json|pwa/js/app\.js|pwa/sw\.js|popup\.js|CLAUDE\.md|README\.md)$
  extension-package-check: any of: ^(manifest\.json|popup\.(html|js)|content\.js|icons/.*\.png)$
  pwa-asset-check: any of: ^pwa/.*\.(html|js|css|png|jpg|jpeg|gif|svg|mp4|json)$
